<div id="content">
  <%= render 'layouts/toggle_sidebar' %>
  <div class="card-deck">
   <div class="card">
      <div class="card-body">
        <h5 class="card-title">Profile</h5>
        <p class="card-text">
          <div class="row">
            <div class="col-md-3 col-lg-3">
              <%= image_tag("logo1.png", :class => "img-circle img-responsive") %>
              <div class="col-md-9 col-lg-9">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <td>Name</td>
                      <td><%= @user.name %></td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><%= @user.email %></td>
                    </tr>
                    <tr>
                      <td>Department</td>
                      <td>Department</td>
                    </tr>
                    <tr>
                      <td>Divisition</td>
                      <td>Department</td>
                    </tr>
                    <tr>
                      <td>Role</td>
                      <td>Department</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </p>
      </div>
      <div class="card-footer">
        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="fa fa-envelope"></i></a>
        <span class="pull-right">
          <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></a>
          <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="fa fa-remove"></i></a>
        </span>
      </div>
   </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
</div>

