<div id="content">
  <%= render "layouts/toggle_sidebar" %>
  <div class="card">
    <div class="card-header text-center">
      <%= t("Skill_Manager") %>
    </div>
    <div class="card-content">
      <div>
        <%= pie_chart @user_skills.group(:skill_id).all.size %>
      </div>
      <% @user_skills.each do |f| %>
        <%#= pie_chart f.skill.group(:name).all.size %>
        <%= f.skill.name %>
      <% end %>
    </div>
  </div>
</div>

