<div id="content">
  <%= render "layouts/toggle_sidebar" %>
  <div class="card">
    <div class="card-header text-center">
      <%= t("Skill_Manager") %>
    </div>
    <div class="card-content">
    <%= @user_skills.each do |f| %>
      <%= f.skill_id %>
    <% end %>
    </div>
  </div>
</div>

