<span class="user"><%= link_to report.user.name, report.user %></span>
<span class="content"><%= report.content %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(report.created_at) %> ago.
</span>
