<nav id="sidebar">
    <div class="sidebar-header">
        <h3>DRS</h3>
    </div>
    <ul class="list-unstyled components">
        <p>Menu</p>
        <li class="active">
            <a href="" >Dashboard</a>
        </li>
        <li>
            <a href="">User</a>
        </li>
        <li>
            <a href="#">Notification</a>
        </li>
        <li>
            <a href="#">Report>
        </li>
        <li>
            <%= link_to 'Sign out', logout_path, method: :delete %>
        </li>
    </ul>
</nav>
